/* Reset -------------------------------------------------*/
html {
	color: #000;
	background: #FFF;
}
 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,
form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;
}
 
table {
	border-collapse: collapse;
	border-spacing: 0;
}
 
fieldset,img {
	border: 0;
}
 
address,caption,cite,code,dfn,em,strong,th,var,optgroup {
	font-style: inherit;
	font-weight: inherit;
}
 
del,ins {
	text-decoration: none;
}
 
li {
	list-style: none;
}
 
caption,th {
	text-align: left;
}
 
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}
 
q:before,q:after {
	content: '';
}
 
abbr,acronym {
	border: 0;
	font-variant: normal;
}
 
sup {
	vertical-align: baseline;
}
 
sub {
	vertical-align: baseline;
}
 
legend {
	color: #000;
}
 
input,button,textarea,select,optgroup,option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}

input,button,textarea,select {
	*font-size: 100%;
}

body {
	background: #000000 url(../images/backgrounds/woc_bg.jpg) top center no-repeat;
	font: 12px/14px 'Verdana', 'Geneva', 'sans-serif';
}
/*--------------------------------------------------------*/

body, a {
	color: #555555;
}

#chrome {
	background: url(http://a.dolimg.com/media/en-US/globalmedia/chrome/images/lightgrey/chexplorebg.png) top left repeat-x;
}

#footer{
	padding-top: 10px;
}

h1 {
	font-size: 40px;
	line-height: 50px;
	font-weight: bold;
	padding-bottom: 10px;
}

.out-content {
	background: url(../images/backgrounds/bg-outage.jpg) no-repeat;
	width: 996px;
	height: 673px;
	margin: 10px auto;
}

.out-content .out-messageContainer {
	color: #1C1C1C;
	font-size: 20px;
	line-height: 25px;
	padding: 400px 0 0 45px;
	width: 405px;
}

.out-content .out-messageContainer .out-outageLink {
	margin-top: 20px;
}

.out-content .out-messageContainer .out-outageLink a {
	color: #BE3C1D;
	text-decoration: underline;
}