/*.jcarousel-container {
    -moz-border-radius: 10px;
    background: #F0F6F9;
    border: 1px solid #346F97;
}*/
.jcarousel-container {
    position: relative;
}

.jcarousel-clip {
    z-index: 2;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.jcarousel-list {
    z-index: 1;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.jcarousel-list li,
.jcarousel-item {
    float: left;
    list-style: none;
    /* We set the width/height explicitly. No width/height causes infinite loops. */
    width: 223px;
    height: 350px;
}

/**
 * The buttons are added dynamically by jCarousel before
 * the <ul> list (inside the <div> described above) and
 * have the classnames "jcarousel-next" and "jcarousel-prev".
 */
.jcarousel-next {
    z-index: 3;
    display: none;
}

.jcarousel-prev {
    z-index: 3;
    display: none;
}
.jcarousel-container-horizontal {
	float:left;
    width: 890px;
}
.jcarousel-clip-horizontal {
    width:  890px;
		margin:0em auto;
    height: 350px;
}



.jcarousel-item {
    /*width: 137px;
    height: 66px;*/
}
.jcarousel-item img{
	border:none;
}

.jcarousel-item-horizontal {

}

.jcarousel-item-placeholder {
    background: #fff;
    color: #000;
		float:left;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-prev-horizontal ,.jcarousel-next-horizontal {
	display:none;
  float:right;
  width: 37px;
  height: 64px;
	margin-top:345px;
	cursor:pointer;
  background: transparent url(../images/ui/arrows.png) no-repeat -37px top;
}
.jcarousel-prev-horizontal {
  float:left;
	background: transparent url(../images/ui/arrows.png) no-repeat left top;
}

.jcarousel-next-horizontal:hover {
  background: transparent url(../images/ui/arrows.png) no-repeat -111px 0;
}

.jcarousel-next-horizontal:active {
  background: transparent url(../images/ui/arrows.png) no-repeat -111px 0;
}

.jcarousel-next-disabled-horizontal,
.jcarousel-next-disabled-horizontal:hover,
.jcarousel-next-disabled-horizontal:active {
	cursor:default;
  background: transparent url(../images/ui/arrows.png) no-repeat -185px 0;
}
.jcarousel-prev-horizontal:hover {
  background: transparent url(../images/ui/arrows.png) no-repeat -74px 0;
}
.jcarousel-prev-disabled-horizontal,
.jcarousel-prev-disabled-horizontal:hover,
.jcarousel-prev-disabled-horizontal:active {
	cursor:default;
	background: transparent url(../images/ui/arrows.png) no-repeat -148px 0;
}


